.form-control{
    margin-bottom: 15px !important;
}
.info-min{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #222222;
    background-color: #757575;
    color: white;
    margin-bottom: 5px;
}
.info-max{
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #222222;
    background-color: #e74c3c;
    color: white;
    margin-bottom: 5px;
}